body {
  font-family: Karla, sans-serif;
}

p {
  line-height: 1rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-three-fifth {
  flex-basis: 60%;
}

.column-four-fifth {
  flex-basis: 80%;
}

.column-half {
  flex-basis: 50%;
}

.column-fifth {
  flex-basis: calc(100% / 5);
}

.icons {
  width: 100%;
}

.text-upper {
  text-transform: uppercase;
}

.text-grey {
  color: grey;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.letter-space {
  letter-spacing: 0.1rem;
}

.font-large {
  font-size: 2.5rem;
}

.font-small {
  font-size: 0.7rem;
}

.pd-lr {
  padding: 0 5rem;
}

.learn-more {
  padding: 0.4rem 1.5rem;
  border: solid #d24e47 0.1rem;
  background-color: white;
  color: #d24e47;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.margin-bottom {
  margin-bottom: 0;
}

.pd {
  padding: 1rem 6.5rem 2rem 0.5rem;
}

.pd-bottom {
  padding-bottom: 2rem;
}
