* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Avenir, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.font-tiempo {
  font-family: "Tiempos Headline", serif;
}

.font-dgrey {
  color: #7a7a7a;
}

.font-lgrey {
  color: rgb(234 234 234);
}

.font-white {
  color: white;
}

.font-sm {
  font-size: 0.7rem;
}

.font-med {
  font-size: 0.8rem;
}

.font-normal {
  font-weight: normal;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-two-third {
  flex-basis: calc(200% / 3);
}

.pd-tb {
  padding: 1rem 0;
}

.pd-tb2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pd-lr {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pd-r {
  padding-right: 1rem;
}

.pd-l {
  padding-left: 1.5rem;
}

.pd {
  padding: 1rem;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.backg-grey {
  background-color: #fafafa;
}

.text-deco {
  text-decoration: none;
}

.get-started-button {
  text-decoration: none;
  color: rgb(234 234 234);
  background-color: #294464;
  padding: 0.7rem 2rem;
  border-radius: 0.2rem;
  font-size: 0.75rem;
}

.text-upper {
  text-transform: uppercase;
}

.backg-dgrey {
  background-color: #525351;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

img.logo {
  width: 100px;
}

.line-h {
  line-height: 1.2rem;
}

ul.company,
ul.product {
  list-style: none;
}

.hero-image {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.pos-rel {
  position: relative;
}

.overlay {
  opacity: 0.3;
  background-color: #525351;
  position: absolute;
  width: 100%;
  height: 100%;
}

.contact-button {
  text-decoration: none;
  color: rgb(234 234 234);
  background-color: #294464;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.7rem;
}

.border-bottom {
  border-bottom: solid #efefef 0.1rem;
}

.mg {
  margin: 0.7rem 0;
}

.margin-tb {
  margin: 1.5rem 0;
}

div.location-list p {
  padding: 0.7rem 0;
}
